<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>
</head>
<body>
<div align="center">
  <h1>Demo</h1>
  <form action="/create" method="post" th:object="${toan}">
    <h1>Create Product</h1>
    <table>
      <tr>
        <td>Nhập id</td>
        <td><input th:field="*{id}"></td>
      </tr>
      <tr>
        <td>Nhập name</td>
        <td><input th:field="*{name}"></td>
      </tr>
      <tr>
        <td>Nhập img</td>
        <td><input th:field="*{img}"></td>
      </tr>
      <tr>
        <td>Nhập price</td>
        <td><input th:field="*{price}"></td>
      </tr>
      <tr>
        <td>Status</td>
        <td>
          <select th:field="*{status}">
            <option value="true">Còn Hàng</option>
            <option value="false">Hết Hàng</option>
          </select>
        </td>
      </tr>
    </table>
    <button type="submit">Submit</button>
  </form>
</div>
</body>
</html>
